<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Example Domain</title>
    <style>
      body,
      html {
        height: 100%;
        /* display: flex;
        justify-content: center;
        align-items: center; */
      }
    </style>
  </head>
  <body class="bg-secondary-subtle w-100 vh-100 pt-5">
    <div class="container text-center">
      <div class="card p-5 col-md-5 mx-auto">
        <h3 class="card-title fw-semibold mb-3">Lien invalide</h3>
        <p class="card-text text-center">
          Le lien sur lequel vous avez cliqué n'est pas valide. Veuillez
          vérifier l'URL et réessayer. Si vous pensez qu'il s'agit d'une erreur,
          veuillez contacter notre équipe de support.
          <a href="mailto:infofamilytree@gmail.com">infofamilytree@gmail.com</a>
        </p>
        <a routerLink="/" class="btn btn-danger">Page d'accueil...</a>
      </div>
    </div>
  </body>
</html>
